﻿
@{
    ViewBag.Title = "Create";
}

<form method="post">
    <h2>Create Category</h2>

    <label>Name</label>
    <input name="name"/>

    <br />
    <label>Description</label>
    <input name="description"/>
    <br />
    <button type="submit">Save</button>
</form>
