﻿@model ClothesStore.Entities.Category
@{
    ViewBag.Title = "Delete";
}

<h2>Delete Category</h2>

<h3>Are you sure you want to delete ?</h3>
<form method="post">
<h2>Create Category</h2>
<input type="hidden" name="Id" value="@Model.Id" />
<button type="submit">Yes</button>
</form>
<a href="/Index">Cancel</a>