﻿@model List<ClothesStore.Entities.Category>
@*@model IEnumerable<ClothesStore.Entities.Category>*@
@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<table class="table" style="border:hidden">
    <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Description</th>
    </tr>

    @foreach (var category in Model)
    {
        <tr>
            <td>@Html.DisplayFor(itemName => category.Id)</td>
            <td>@Html.DisplayFor(itemDesc => category.Name)</td>
            <td>@Html.DisplayFor(itemDesc => category.Description)</td>
            
            @*<td>@Html.DisplayFor(modelItem => item.Price)</td>*@
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = category.Id}) |
                @Html.ActionLink("Details", "Details", new { id = category.Id}) |
                @Html.ActionLink("Delete", "Delete", new { id = category.Id })
            </td>
        </tr>
    }
</table>




