﻿
@{
    ViewBag.Title = "Create";
}

<form method="post">
    <h2>Create Product</h2>

    <label>Name</label>
    <input name="name" />
    <br />

    <label>Description</label>
    <input name="description" />
    <br />
    
    <label>Price</label>
    <input name="Price" />
    <br />

    <button type="submit">Save</button>
</form>
